* {
    box-sizing: border-box;
}

body {
    margin: 1em;    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}

h1, p#description {
    text-align: center;
}

form {
    display: grid;
    max-width: 680px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    font-size: 1em;
    line-height: 1.2em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label, span {
    text-align: right;
}

label#name-label, label#email-label, label#number-label {
    padding-top: .375em;
}

fieldset label {
    display: block;
    text-align: left;        
}

input {
    line-height: 1.5em;
    padding: .375em .75em;
}

button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    cursor:pointer;
    padding: .5em;
    font-size: 1em;
}

button:hover {
    background-color: #0069d9;
}

@media (max-width: 680px) {
    form {
        grid-template-columns: 1fr;
        grid-gap: .5em;
    }

    label, span {
        text-align: left;    
    }
}

@media (min-width: 680px) {
    form {
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em;
    }

    input, select, textarea {
        grid-column: 2/3;
    }

    button {
        grid-column: 1/3;
    }
}
